.intro {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #282828;
  box-sizing: border-box;
}

.intro__container {
  max-width: 1110px;
  border: 3px solid #C4C4C4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 9%;
  padding-right: 9%;
  box-sizing: border-box;
  width: 100%;
}

.intro__title {
  font-family: 'Playfair Display', 'Arial', 'Helvetica', sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #FFFFFF;
  position: relative;
  padding: 0;
  margin: 0;
  padding-top: 60px;
}

.intro__title:after {
  content: '';
  width: 160px;
  height: 1px;
  background: #FFFFFF;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translate(-50%);
}

.intro__subtitle {
  padding: 0;
  margin: 0;
  padding-top: 80px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  max-width: 733px;
}

.intro__img {
  width: 160px;
  height: 160px;
  padding-top: 50px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1280px) {
  .intro {
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media screen and (max-width: 425px) {
  .intro__container {
    padding-left: 5%;
    padding-right: 5%;
  }
}
