.registration {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1920px;
  width: 100%;
  background: #282828;
  padding-top: 129px;
  padding-bottom: 100px;
}

.registration__container {
  width: 1110px;
  border: 3px solid #C4C4C4;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.registration__container:before {
  content: '';
  position: absolute;
  left: -3%;
  top: -70px;
  width: 260px;
  height: 260px;
  background: url(../../images/registration_left.png);
}

.registration__container:after {
  content: '';
  position: absolute;
  right: -5%;
  top: -70px;
  width: 260px;
  height: 200px;
  background: url(../../images/registration_right.png);
}

.registration__title {
  font-family: 'Playfair Display', 'Arial', 'Helvetica', sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  padding-top: 60px;
  position: absolute;
  top: -18%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #282828;
  max-width: 490px;
  width: 100%;
  grid-area: title;
}

.registration__title:after {
  content: '';
  width: 160px;
  height: 1px;
  background: #FFFFFF;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translate(-50%);
}

.registration__subtitle {
  padding: 0;
  margin: 0;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  max-width: 539px;
  grid-area: subtitle;
  padding-top: 105px;
}

.registration__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "title title" "subtitle subtitle" "form form" "name phone" "address address" "submit-button submit-button";
  grid-column-gap: 30px;
  padding-top: 41px;
}

.registration__input {
  border-width: 0 0 1px 0;
  border-color: #FFFFFF;
  border-style: solid;
  background: #282828;
  width: 100%;
  height: 30px;
  color: #FFFFFF;
}

.registration__input:not(:last-of-type) {
  margin-top: 40px;
}

.registration__input:-webkit-autofill,
.registration__input:-webkit-autofill:hover,
.registration__input:-webkit-autofill:focus,
.registration__input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #282828 inset;
  -webkit-text-fill-color: #FFFFFF;
}

.registration__input::placeholder {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
}

.registration__input_type_name {
  grid-area: name;
}

.registration__input_type_phone {
  grid-area: phone;
}

.registration__input_type_address {
  grid-area: address;
  margin-top: 40px;
}

.registration__submit-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  grid-area: submit-button;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  max-width: 541px;
  width: 100%;
  height: 50px;
  margin-top: 50px;
  background: #99862A;
}

.registration__submit-button:hover {
  cursor: pointer;
  background: #7a6726;
}

.registration__submit-button_inactive {
  background: #282828;
  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 1280px) {
  .registration__container {
    padding-left: 5%;
    padding-right: 5%;
    width: calc(100% - 10%);
  }

  .registration__container:before {
    background: none;
  }

  .registration__container:after {
    background: none;
  }
}

@media screen and (max-width: 768px) {
  .registration__form {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "title" "subtitle" "form" "name" "phone" "address" "submit-button";
  }

  .registration__container {
    width: calc(100% - 15%);
  }
}
